.App {
  
  .check-holder {
    max-width: 100%;
    margin: auto;
  }

  .json-field {
    font-size: 0.8em;
    line-height: 1.3;
    color: #555555;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

@import "CheckPanel/CheckPanel";